* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, #page, #page > svg {
    width: 100lvw;
    height: 100lvh;
}

#page > svg {
    max-width: 100lvw;
    max-height: 100lvh;
}
